/*CE CSS SERT AU STYLE DE LA PAGE D'ACCEUIL DU JEU*/

/*en tête de la page*/
header{
    background-color: #08381d;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 1/span 3;
    grid-row: 1;
}

/*corps de la page*/
body {
    background-image: url(image_icon/tableau_vert.jpg);
    background-size:cover;
    background-position:center;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 750px 325px 1fr;
    grid-template-rows: 100px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 1fr;
}

/*Descriptif du jeu*/
#mission_title{
    border-left: solid 100px transparent;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: left;
    grid-column: 1;
    grid-row: 2;
}
#mission{
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: large;
    text-align: left;
    grid-column: 1;
    grid-row: 3/span 6;
}

/*Formulaire*/
#form{
    color : white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 1;
    grid-row: 9/span 3;
}
.invalide{
    background-color: red;
}
.valide{
    background-color: green;
}

/*Bouton commencer*/

a{
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 1;
    grid-row: 12;
}
a .button #debut{
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    background-color: #8B0000	;
    font-size:24px;
    font-family: 'Aldrich', sans-serif;
}
a .button #debut:hover{
    background-color: white;
    border: solid 2px darkred;
    border-radius: 20px;
    color: darkred;
    font-family: 'Aldrich', sans-serif;
}

/*Tableau des scores*/
#score_title{
    border: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2/span 2;
    grid-row: 2;
}
#players{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}
#p1{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 4;
}
#p2{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 5;
}
#p3{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 6;
}
#p4{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 7;
}
#p5{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 8;
}
#p6{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 9;
}
#p7{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 10;
}
#p8{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 11;
}
#p9{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 12;
}
#p9{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 12;
}
#p10{
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 2;
    grid-row: 13;
}
#scores{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 3;
}
#t1{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 4;
}
#t2{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 5;
}
#t3{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 6;
}
#t4{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 7;
}
#t5{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 8;
}
#t6{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 9;
}
#t7{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 10;
}
#t8{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 11;
}
#t9{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 12;
}
#t10{
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    color: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    grid-column: 3;
    grid-row: 13;
}
